body {
    font-size: 40px;
}

* {
    box-sizing: border-box;
}

.block,
.inline {
    background: #e0d5c5;
}

/* ======================================================= */

.block {
    padding: 50px;
    margin: 150px;
}

.inline {

}

.img {

}