body {
    font-size: 40px;
}

* {
    box-sizing: border-box;
}

.block,
.inline {
    background: #8b8883;
}

.block {
    padding: 30px;
    margin: 50px;
}

/* ======================================================= */

.block {
    box-shadow: inset 30px 15px 10px 1px #33a3e4, 30px 15px 10px 1px #113549;
    border-radius: 30px;
}

.inline {}

.img {
    box-shadow: 30px 15px 10px 1px #434b2e;
    border-radius: 30px;
}
