/* +++ general purpose +++ */

body {
    font-family: "Montserrat", "Arial", sans-serif;
    line-height: calc(20px / 16px);
    color: #25282B;
    background: #F8FCFF; 
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

/* +++ header +++ */

.header {
    min-height: 108px;
    line-height: 150%; /* 24px */ 
}
.header__inner {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 15px;
    align-content: center;
    align-items: center;
}
.header__logo {
    max-width: 54px;
}
/* .header__inner>*:last-child {
    justify-self: end;
} */

.nav {
}
.nav__list {
    display: flex;
    gap: 10px 30px;
    flex-wrap: wrap;
}
.nav__item {
}
.nav__link {
}

.socials {
    display: flex;
    gap: 10px 30px;
    flex-wrap: wrap;
    justify-content: end;
}
.socials__item {
}
.socials__link {
}

/* +++ section +++ */

.hero {
    padding: 120px 0;
    background: #25282B;
    color: #F8FCFF;
    line-height: 150%;
}
.container {
}
.hero__title {
    font-weight: 600;
    font-size: 52px;
}
.hero_list {
}
.hero__list-item {
}
.button {
}
