@font-face {
    font-family: 'Pixelify Sans';
    src: local('Pixelify Sans Medium'), local('PixelifySans-Medium'),
        url('PixelifySans-Medium.woff2') format('woff2'),
        url('PixelifySans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

